.bg-color {
  /* background: #0f0f0ffb; */
  background: #f4f4f4;
}

.navbar-brand {
  color: #f8aa02;
  font-weight: bold;
  font-size: 35px !important;
}

.nav-link {
  font-weight: bold;
  color: #f8aa02;
  font-size: 20px;
}

.btn-group {
  color: #f8aa02;
}

.navbar-toggler i {
  color: #f8aa02;
}

.container .logo {
  width: 70px;
}

.container .textblack a {
  color: #000;
}